*.rar
ub
/backup_original_encoding
/bin
/.github
/SwordOnline/Sources/.vs
/SwordOnline/Sources/Core/ClientDebug
/SwordOnline/Sources/Core/ServerDebug
/SwordOnline/Sources/Engine/Debug
/SwordOnline/Sources/ExpandPackage2.0/Debug
/SwordOnline/Sources/ExpandPackageStaticLib/Debug
/SwordOnline/Sources/FilterText/Debug
/SwordOnline/Sources/FilterText/FilterText_StaticLib___Win32_Debug
/SwordOnline/Sources/FilterText/FilterText_StaticLib___Win32_Debug
/SwordOnline/Sources/JpgLib/Debug
/SwordOnline/Sources/JpgLib/Debug
/SwordOnline/Sources/KMp3LibClass/Debug
/SwordOnline/Sources/Core/ServerDebug
/SwordOnline/Sources/Library/LuaLib/Debug
/SwordOnline/Sources/MultiServer/Bishop/Debug
/SwordOnline/Sources/MultiServer/Common/Debug
/SwordOnline/Sources/MultiServer/GameServer/Debug
/SwordOnline/Sources/MultiServer/Goddess/Debug
/SwordOnline/Sources/MultiServer/Heaven/Debug
/SwordOnline/Sources/MultiServer/Rainbow/Debug
/SwordOnline/Sources/MultiServer/S3Relay/Debug
/SwordOnline/Sources/MultiServer/Common/Debug
/SwordOnline/Sources/Sword3PaySys/S3AccServer/Debug
/SwordOnline/Sources/Sword3PaySys/S3RELAYSERVER/Debug
*.user
/SwordOnline/Sources/S3Client/Debug
/SwordOnline/Sources/Represent/Represent3/Debug
*.zip
